.title {
  margin: 0 auto;
  max-width: 37rem;

  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2em;
  text-align: center;
}

.subhead {
  font-size: 1.25rem;
  color: #828282;
  text-align: center;
  margin-top: 1.75rem;
}
