:root {
  --font-mono: 'Roboto Mono', ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html,
body,
#__next {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

#__next {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
